.AdminEventBox{
/*  border: solid 2px red ;*/
}
.AdminEventBox2{
/*  border: solid 2px black;
*/  height: auto;
  width: 50%;
  margin: auto;


}
.AdminEventBox2 img{
  width:100%;
  height: auto;
}
.AdminEventBox2 h1{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #990099;
    text-transform: uppercase;
     text-shadow:3px 5px 0px lightgrey ;
    font-family: 'noirpro', sans-serif;
}
.AdminEventBox2 p{
  text-align: center;
  color: #ccc;
}
.AdminEventBox3{
  width:45%;
/*  border:solid 1px white;*/
  margin: 10px;
  display: inline-block;
  box-shadow: 0px 0px 10px 0px ligh;

}
.AdminEvent_content h3{
  color: #ccc;
}
.AdminEvent_content p{
  text-align: auto;
}


                                        /*Event View*/
.AdminEventBoxView{
/*  border: solid 2px red;*/
  width: 70%;
  float: right;
  margin-right: 7%;
  box-shadow: 0px 0px 10px 0px lightgrey;
}
.AdminEventBoxView img{
  width: 100%;
  box-shadow: 0px 0px 14px 0px grey;
  border-radius: 30px;
}
.AdminEventBox3View{
/*  border: solid 3px green;*/
}
.AdminEvent_content{
  margin-left: 5px;
  width: auto;
/*  border: solid 2px red;*/
}
                                      
                                      /*Event Update*/
.AdminEventUpdateBox{
/*  border: solid 3px red;
*/  width: 50%;
  margin: auto;
}
.AdminEventUpdateBox {
  margin: auto;
/*  border: solid 2px red;
*/  width: 50%;
  box-shadow: 0px 0px 10px 0px lightgrey;
}
.AdminEventUpdateBox img{
  width: 100%;
  box-shadow: 0px 0px 15px 0px grey;
  border-radius: 20px;
}
.AdminEventUpdateBox input{
  margin-bottom: 10px;
}
















.share {
  width: 30%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.shareImgContainer{
  padding: 0 20px 10px 20px;
  position: relative;
  width: 30%;
}

.shareImg{
  width: 20%;
  object-fit: cover;
}

.shareCancelImg{
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}