.AdminLocation{
	border: solid 2px red;
	width: 70%;
	margin-left: 22%;
}
.AdminLocation h1{
		color: #990099;
	text-align: center;
	font-size: 50px;
	font-weight:bold;
	font-family: inherit;
	transition: all 0.5s ease;
        font-size: 50px;
        font-weight: 1000;
    font-style: normal;
    text-transform: uppercase;
    text-shadow:3px 5px 0px rgba(0, 0, 0, 0.30) ;
    font-family: 'noirpro', sans-serif;
}
.AdminLocation2{
	border: solid 2px black;
	width: 90%;
	margin: auto;

}
.AdminLocation_container{
	width: 46.5%;
/*	border: solid 1px red;*/
	margin: 10px;
	display: inline-block;
	box-shadow:  0px 0px 10px 0px lightgrey;
	text-align: center;
	cursor: pointer;
	color: #990099;
/*	border-top: solid 2px #990099;*/
}
.AdminLocation_container h4{
/*	border: solid 2px red;*/
	font-size: 20px;
	font-weight: 1000;
}
.AdminLocation_container h3{
	width: 50%;
	background-color: #990099;
	color: white;
	border: solid 1px red;
	margin: auto;
	margin-top: 20px;

}
.AdminLocationBoxView{
	border: solid 2px red;
	margin: ;
	width: 70%;
	margin-left: 22%;
}
.AdminLocationBoxView2{
	border: solid 3px green;

}
.AdminLocationBoxView3 h2{
	color: #990099;
	font-family: jost, fantasy;
	text-align: center;
}
.AdminLocationBoxView3 p{
	color: #990099;
}
.AdminLocationBoxView2 iframe{
	width: 100%;
	text-align: center;
}
/********** Responsive Design ********/
@media(max-width:900px)
{
	.AdminLocation{
		width: auto;
	}
	.AdminLocation2{
		width:auto ;
	}
.AdminLocation_container{
	width: auto;
}
.AdminLocation_container iframe{
	width: auto;
}
}
@media(max-width:768px)
{
	.AdminLocation{
		width: auto;
	}
	.AdminLocation2{
		width:auto ;

	}
	.AdminLocation_container{
	width:90% ;
	margin: auto;
	display: block;
	margin-top: 10px;
}
}
@media(max-width:568px)
{
	.AdminLocation{
		width: auto;
	}
	.AdminLocation2{
		width: ;
	}
	.AdminLocation_container{
	width:;
}
}